name: run-auto-update

on:
  schedule:
    - cron: "0 */6 * * *" # every 6 hours
  workflow_dispatch:

jobs:
  auto-update:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Puppeteer
        run: npm install

      - name: Run auto update
        env:
          PERCHANCE_EMAIL: ${{ secrets.PERCHANCE_EMAIL }}
          PERCHANCE_PASSWORD: ${{ secrets.PERCHANCE_PASSWORD }}
        run: node auto_update.mjs
